@model CobrArWeb.Data.Product

@section Scripts {
    <script>

    </script>
}


<h2>Edit Product</h2>

<form asp-action="EditProduct" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Produit" class="control-label"></label>
        <input asp-for="Produit" class="form-control" />
        <span asp-validation-for="Produit" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="CategorieId">Categorie</label>
        <select asp-for="CategorieId" asp-items="ViewBag.CategorieList" id="categorie-dropdown" class="form-control">
            <option value="">Sélectionnez une catégorie</option>
        </select>
    </div>

    <div class="form-group">
        <label for="SousCategorieId">SousCategorie</label>
        <select asp-for="SousCategorieId" asp-items="ViewBag.SousCategorieList" id="souscategorie-dropdown" class="form-control">
            <option value="">Sélectionnez une sous-catégorie</option>
        </select>
    </div>

    <div class="form-group">
        <label for="EquipeId">Equipe</label>
        <select asp-for="EquipeId" asp-items="ViewBag.EquipeList" class="form-control">
            <option value="">Sélectionnez une équipe</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="TailleId" class="control-label"></label>
        <select asp-for="TailleId" asp-items="@ViewBag.TailleList" class="form-control"></select>
        <span asp-validation-for="TailleId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantite" class="control-label"></label>
        <input asp-for="Quantite" class="form-control" />
        <span asp-validation-for="Quantite" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Prix" class="control-label"></label>
        <input asp-for="Prix" class="form-control" />
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="FournisseurId" class="control-label"></label>
        <select asp-for="FournisseurId" asp-items="@ViewBag.FournisseurList" class="form-control"></select>
        <span asp-validation-for="FournisseurId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Valider" class="btn btn-primary" />
        <input type="button" value="Annuler" class="btn btn-secondary" onclick="window.history.back();" />
    </div>
</form>