@using CobrArWeb.Data;
@using CobrArWeb.Models.Stock;
@using CobrArWeb.Models.RechercheArbo;
@model StockViewModel

@section scripts {
    <script src="~/js/FilterProductButtons.js"></script>
}
@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        @TempData["message"]
    </div>
}

<a asp-action="Create" class="btn btn-primary mb-3">Ajouter un produit</a>
    
                        
                        @Html.Partial("~/Views/Product/List.cshtml", Model.ListViewModel)


        <script src="~/js/site.js" asp-append-version="true"></script>
